%div{ :data => { :role => :page } }
  %div{ :data => { :role => :header } }
    %h1 HAProxy

  %div{ :data => { :role => :content } }
    %ul{ :data => { :role => :listview } }
      %li{ :data => { :role => :"list-divider" } } Frontends
      - @haproxy.frontends.each do |name, data|
        %li
          %a{ :href => "/frontend/#{name}" }= name
      %li{ :data => { :role => :"list-divider" } } Backends
      - @haproxy.backends.each do |name, data|
        %li
          %a{ :href => "/backend/#{name}" }= name
      %li{ :data => { :role => :"list-divider" } } Servers
      - @haproxy.servers.each do |name, data|
        %li
          %a{ :href => "/server/#{name}" }= name
